[defaults]
inventory = inventory/hosts
host_key_checking = False
stdout_callback = ansible.builtin.default
ansible_managed = Ansible managed: {file} modified on %Y-%m-%d

[defaults.callback]
result_format = yaml